/*
側邊選單
*/
.sidebar {
  background-color: ${COLOR_SECONDARY}
}

/*
  產品頁
*/
.page#Products .category-btn-group .el-button:hover,
.my-modal-wrap#product-modal .modal-box .modal-box-content .sub-btn-wrap .button,
.my-modal-wrap#product-modal .modal-box .modal-box-content .content .total div.sign span
{
  background-color: ${COLOR_PRIMARY}
}

/*
  購物車
*/
.cart > .content,
.cart > .total > button.submit
{
  background-color: ${COLOR_PRIMARY}
}
