/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/



.icon {
  display: inline-block;
}
.icon-Mountain{
  background-image: url(sprite.png);
  background-position: -321px -144px;
  width: 164px;
  height: 10px;
}
.icon-appstore {
  background-image: url(sprite.png);
  background-position: 0px -267px;
  width: 280px;
  height: 85px;
}
.icon-calendar {
  background-image: url(sprite.png);
  background-position: -321px -154px;
  width: 28px;
  height: 28px;
}
.icon-calendar＿gray {
  background-image: url(sprite.png);
  background-position: -495px -93px;
  width: 28px;
  height: 28px;
}
.icon-cancel_circular {
  background-image: url(sprite.png);
  background-position: -427px -93px;
  width: 34px;
  height: 34px;
}
.icon-googleplay {
  background-image: url(sprite.png);
  background-position: -267px 0px;
  width: 279px;
  height: 93px;
}
.icon-location {
  background-image: url(sprite.png);
  background-position: -267px -183px;
  width: 32px;
  height: 46px;
}
.icon-logo {
  background-image: url(sprite.png);
  background-position: -267px -93px;
  width: 160px;
  height: 36px;
}
.icon-menu {
  background-image: url(sprite.png);
  background-position: -349px -154px;
  width: 24px;
  height: 18px;
}
.icon-miniLogo {
  background-image: url(sprite.png);
  background-position: -267px -129px;
  width: 54px;
  height: 54px;
}
.icon-plus {
  background-image: url(sprite.png);
  background-position: -461px -93px;
  width: 34px;
  height: 34px;
}
.icon-qrcode {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 267px;
  height: 267px;
}
.icon-store-title {
  background-image: url(sprite.png);
  background-position: -321px -129px;
  width: 126px;
  height: 15px;
}
