// checkoutModal
.my-modal-wrap#checkout-modal
  position fixed
  z-index 99
  width 100vw
  height 100vh
  background-color rgba(#000, 0.7)
  display flex
  align-items center
  padding: 20px
  @media(max-width: mobile-media)
    padding: 0
    z-index: 999
  .modal-box
    min-width 300px
    margin auto
    background-color #fff
    color #666
    text-align center
    position relative
    border-radius 10px
    @media(max-width: mobile-media)
      overflow-y: scroll
      height: 100%
      border-radius: 0
    .close-btn
      cursor: pointer
      position absolute
      right 0
      top 0
      margin-top 10px
      margin-right 15px
      display flex
      align-items center
      @media(max-width: mobile-media)
        display: none
      i.icon
        margin auto
        color: #999
    
    .modal-box-content
      padding: 40px 30px
      width: 500px
      @media(max-width: mobile-media)
        width: 100%
        padding: 20px
      .el-select .el-input__inner
        // background-color: main-color
        // color: #fff
        // border-color: main-color
      .el-select .el-input .el-input__icon
        // color: #fff
      .tabMsg
        color: main-color
        margin: 10px 0
      .divider
        border-top: 2px dotted #ccc
        background: none
        margin: 15px -30px 
        width: calc(100% +60px)
      .btn-wrap 
        display: flex
        margin-bottom: 20px
        .my-btn
          flex: 1
          margin-right: 15px
          cursor: pointer
          &:last-child
            margin-right: 0
      .form-group
        text-align: left
        margin-bottom: 12px
        label 
          display: block
        > input[type="text"], input[type="number"]
          border: 1px solid #999
          line-height: 32px
          width: 100%
          &:disabled
            background-color: #ccc
 
      .submit-button
        margin-top: 20px
        color: #fff
        background-color: main-color
        line-height: 40px
        font-size: 16px
        font-weight: bold 
        letter-spacing: 2px
        text-align: center
        cursor: pointer
      
      .close-button
        display: none
        margin-top: 20px
        color: #666
        border: 1px solid #666
        line-height: 40px
        font-size: 16px
        font-weight: bold 
        letter-spacing: 2px
        text-align: center
        cursor: pointer
        @media(max-width: mobile-media)
          display: block
      
      .sub-radio-check
        text-align: left
        margin-top: 20px
  
  .el-select.main 
    .el-input__inner
      border: 0
      background-color: main-color
      color: #fff
      height: 43px
    .el-input__icon
      color: #fff

  .el-input 
    .el-input__icon
      color: #666
    .el-input__inner
      color: #666
      border: 1px solid #999

  .el-input.is-disabled .el-input__inner
    border: 1px solid #999
    background-color: #ccc

  

            
            
          
          


