// checkoutModal
.my-modal-wrap#loading-mask
  position fixed
  z-index 9999
  width 100vw
  height 100vh
  background-color rgba(#fff, 0.7)
  display flex
  align-items center
  padding: 20px
  @media(max-width: mobile-media)
    padding: 0
    z-index: 999
  .modal-box
    color: #fff
    margin: 0 auto