// checkoutModal
.my-modal-wrap#news-detail-modal
  position fixed
  z-index 99
  width 100vw
  height 100vh
  background-color rgba(#000, 0.7)
  display flex
  align-items center
  padding: 20px
  @media(max-width: mobile-media)
    padding: 0
    z-index: 999
  .modal-box
    width 500px
    max-height: calc(100vh - 40px)
    margin auto
    background-color #fff
    color #666
    position relative
    border-radius 5px
    @media(max-width: mobile-media)
      overflow-y: scroll
      height: 100%
      border-radius: 0
      max-height: 100vh
    .close-btn
      cursor: pointer
      position absolute
      right 0
      top 0
      margin-top 15px
      margin-right 15px
      display flex
      @media(max-width: mobile-media)
        display: none
      i.icon
        margin auto
        color: #999
    
    .modal-box-header 
      border-bottom: 1px solid #ccc
      padding: 20px
      p.title-top 
        color: #999 
        margin-bottom: 3px
      h5 
        color: main-color 
        margin-bottom: 2px
        @media(max-width: mobile-media)
          font-size: 20px
      p.date 
        color: main-color
    .modal-box-content
      padding: 20px 
      max-height: 600px
      overflow-y: scroll
      .img-wrap 
        max-height: 350px 
        overflow: hidden 
        margin-bottom: 20px
        display: flex 
        align-items: center 
        justify-content: center 
        @media(max-width: mobile-media)
          width: calc(100vw - 40px)
          height: calc(100vw - 40px)
      p 
        line-height: 20px 
        letter-spacing: 1px 
        font-size: 12px