// 結帳頁
.page#CheckoutResult
  main > .content 
    min-height: 100vh
    background-color #f8f8f8
    padding-top: 60px
    @media(max-width: ipad-media)
      background-color: #fff
  .main-content 
    padding-top: 30px
    @media(max-width: ipad-media)
      padding-top: 20px

    .paper 
        display: flex 
        flex-direction: column
    .status 
        padding: 15px 
        border-bottom: 1px solid #eee
        font-size: 16px
        &.is-success
            color: #25ae88
        &.is-error
            color: #f53b11
    .content-wrap
        flex-grow: 1
        margin: 20px
        line-height: 30px
        font-size: 15px
        .number-box 
            border: 1px solid #ccc
            font-size: 25px
            font-weight: bold
            width: 200px
            padding: 10px 0 
            text-align: center
            margin-bottom: 20px

