// 結帳頁
.page#Info 
  main > .content 
    min-height: 100vh
    background-color #f8f8f8
    @media(max-width: mobile-media)
      padding-left: 0
      padding-right: 0
      background-color: #fff
  .toolbar.trans-dark
    background-color #f8f8f8
    border-bottom: 1px solid #ccc
    @media(max-width: mobile-media)
      position: fixed
      z-index: 99
      background-color: #333
    .btn
      color: #333
  .main-content 
    padding-top: 30px
    @media(max-width: mobile-media)
      padding-top: 0
    .title-img 
      height: 400px 
      overflow: hidden
      display: flex 
      align-items: center 
      justify-content: center
      @media(max-width mobile-media)
        height: auto
        margin-top: 58px
      img 
        max-width: 100%
    .page-content
      padding: 30px 50px 
      background-color: #fff
      @media(max-width mobile-media)
        padding: 20px
      h4 
        color: main-color
        margin-bottom: 10px
        font-size: 22px
        font-weight: bold
        letter-spacing: 1px
      .box 
        border: 1px solid #ccc 
        border-radius: 3px
        padding: 10px
        margin: 15px 0
        position: relative
        .icon-location 
          position: absolute
          top: 0 
          right: 0 
          margin-right: 10px 
          margin-top: 10px
        h5 
          color: main-color 
          font-size: 18px 
          font-weight: bold 
        p.small 
          font-size: 11px 
        p.content 
          font-size: 11px 
          color: #777
          margin-top: 2px
    