// 結帳頁
.page#Info 
  main > .content 
    min-height: 100vh
    background-color #f8f8f8
    padding-top: 60px
    @media(max-width: ipad-media)
      background-color: #fff

  .main-content 
    padding-top: 30px
    @media(max-width: ipad-media)
      padding-top: 0
    .title-img 
      height: 50vh
      background-size: cover 
      background-position: center center
    .page-content
      padding: 30px 50px 
      background-color: #fff
      @media(max-width ipad-media)
        padding: 30px 0
      h4 
        // color: main-color
        margin-bottom: 10px
        font-size: 22px
        font-weight: bold
        letter-spacing: 1px
      .box 
        border: 1px solid #ccc 
        border-radius: 3px
        padding: 10px
        margin: 15px 0
        position: relative
        cursor: pointer
        .icon-location 
          position: absolute
          top: 0 
          right: 0 
          margin-right: 10px 
          margin-top: 10px
        h5 
          color: main-color 
          font-size: 18px 
          font-weight: bold 
        p.small 
          font-size: 11px 
        p.content 
          font-size: 11px 
          color: #777
          margin-top: 2px
    