#maintenance
  background-color: #eee
  box-sizing: border-box
  height: 100vh
  display: flex 
  align-items center 
  justify-content center
  padding: 30px
  h5 
    color: #999
    letter-spacing: 10px
    @media(max-width: mobile-media)
      font-size: 20px