.page#Member
    main > .content 
        min-height: 100vh
        background-color #f8f8f8
        padding-top: 60px
        @media(max-width: ipad-media)
            background-color: #fff
    .main-content 
        padding-top: 30px
        @media(max-width: ipad-media)
            padding-top: 20px

      
    .top-info
        display: flex 
        padding: 20px
        align-items: center
        @media(max-width: mobile-media)
            flex-direction: column
        .img-wrap 
            border-radius: 50% 
            height: 60px
            width: 60px
            display: flex 
            align-items: center
            justify-content: center
            background-size: cover 
            background-position: center center
            @media(max-width: mobile-media)
                height: 120px
                width: 120px
            
        .text-info 
            padding: 0 20px
            font-weight: bold
            flex-grow: 1
            @media(max-width: mobile-media)
                text-align: center
                padding: 15px 0
                font-size: 16px
                p 
                    margin: 6px 0
        .btn-t2 
            margin-left: 15px
    .record 
        margin: 30px 0
        .record-header 
            padding: 5px
            border-bottom: 1px solid #ccc
            color: #9b9b9b
            font-weight: bold
        .item-resv
            border-bottom: 1px solid #ccc
            padding: 15px 5px
            cursor: pointer
            p:first-of-type 
                font-weight: bold
                span.status 
                    color: main-blue
                    float: right
                a 
                    margin-left: 10px 
                    color: main-color
        .item-ord
            border-bottom: 1px solid #ccc
            padding: 15px 5px
            cursor: pointer
            display: flex 
            span 
                flex: 1
                text-align: center
                &:first-of-type 
                    text-align: left
            span.status 
                color: main-blue

        .record-footer 
            text-align: right
            margin-top: 20px
            .btn-t1 
                display: inline-block
