.page#MemberRecord
    .paper
        padding: 50px 40px
        position: relative
        .date-items 
            margin-bottom: 20px
            .date 
                color: main-color 
            .items 
                .item 
                    padding: 13px 0 
                    border-bottom: 1px solid #ddd
                    p
                        color: #666
                        &:first-of-type 
                            font-weight: bold 
                            color: #000
                            margin-bottom: 3px
        .more 
            text-align: center 
            font-size: 22px 
            font-weight: bold 
            padding: 10px
            background-color: #eee
            margin-bottom: -50px
            margin-left: -40px
            margin-right: -40px
            cursor: pointer
            &:hover 
                background-color: #e3e3e3