.page#Member
    .top-info
        display: flex 
        padding: 20px
        align-items: center
        .img-wrap 
            border-radius: 50% 
            height: 60px
            width: 60px
            overflow: hidden
            display: flex 
            align-items: center
            justify-content: center
            .img
                width: 110%
        .text-info 
            padding: 0 20px
            font-weight: bold
            flex-grow: 1
        .btn-t1 
            margin-left: 15px
    .record 
        margin-top: 30px
        .record-header 
            color: main-color
            padding: 5px
            border-bottom: 1px solid #ccc
        .item
            border-bottom: 1px solid #ccc
            padding: 15px 5px
            p:first-of-type 
                font-weight: bold

        .record-footer 
            text-align: right
            margin-top: 20px
            .btn-t1 
                display: inline-block

        