.page#MemberEdit
    main > .content 
        min-height: 100vh
        background-color #f8f8f8
        padding-top: 60px
        @media(max-width: ipad-media)
            background-color: #fff

    .main-content 
        padding-top: 100px
        @media(max-width: ipad-media)
            padding-top: 20px
            

    .paper
        &:after 
            content: ""
            clear: both 
            display: table
        padding: 0
        min-height: calc(100vh - 300px)
        height: calc(100vh - 300px)
        @media(max-width: mobile-media)
            height: auto
            margin: 0 -20px
            width: 100vw
        .left
            float: left 
            width: 40%
            display: flex 
            align-items: center
            justify-content: center
            background-color: brand-color2
            background-image: linear-gradient(brand-color1, brand-color2)
            color: #fff
            padding: 20px 
            height: 100%
            @media(max-width: mobile-media)
                width: 100%
                padding: 30px 0
            .inside-wrap
                display: flex 
                flex-wrap: wrap
                flex-direction: column
                align-items: center
                .img-wrap 
                    margin-bottom: 20px
                    border-radius: 50% 
                    height: 100px
                    width: 100px
                    background-size: cover 
                    background-position: center center
                    overflow: hidden 
                    .cover 
                        background-color: rgba(#000, 0.5)
                        color: #fff 
                        display: flex 
                        align-items: center 
                        justify-content: center
                        height: 100%
                    @media(max-width: mobile-media)
                        width: 120px
                        height: 120px
                p 
                    margin: 2px 0
                .btns 
                    margin-top: 30px
                    .my-btn
                        margin: 0 2px
                        border: 1px solid #fff
                        color: #fff
                        padding: 6px 10px
                        font-size: 13px
                    

        .right 
            float: left 
            width: 60%
            position: relative
            overflow-y: auto
            @media(max-width: mobile-media)
                width: 100%
                padding-left: 0
                padding: 0 20px
            padding-left: 60px
            display: flex 
            flex-direction: column
            height: 100%
            
                            
            h5 
                font-size: 16px 
                padding-bottom: 3px 
                margin-top: 30px 
                color: #666 
                font-weight: bold
            form 
                flex-grow: 1
                margin-left: -10px
                .form-group 
                    display: flex 
                    margin: 20px 0
                    margin-right: 50px
                    align-items: flex-start
                    flex-wrap: wrap
                    @media(max-width: mobile-media)
                        margin-right: 0
                    label 
                        width: 60px
                        padding-top: 5px
                        font-weight: bold
                        text-align: center
                        @media(max-width: mobile-media)
                            width: 50px
                    .form-content-static
                        width: calc(100% - 60px)
                        padding-top: 5px
                    .form-content
                        width: calc(100% - 60px)
                        input 
                            width: 100%
                            padding: 0
                        label
                            padding: 0 10px
                            @media(max-width: mobile-media)
                                padding: 0
                        .form-inline-content
                            display: inline-block
                            > input 
                                width: 60px
                                @media(max-width: mobile-media)
                                    width: 50px
                            .el-select
                                width: 70px

            .btn-wrap
                margin: 0
                margin-right: 50px
                padding-bottom: 60px
                @media(max-width: mobile-media)
                    margin-right: 0
                    margin-top: 30px


                        