.page#MemberEdit
    main > .content 
        min-height: 100vh
        background-color #f8f8f8
        padding-top: 60px
        @media(max-width: ipad-media)
            background-color: #fff
    .main-content 
        padding-top: 30px
        @media(max-width: ipad-media)
            padding-top: 20px

    .paper
        display: flex 
        flex-direction: column
        .paper-top-bar 
            background-color: #555
            margin: -30px -30px 50px -30px
            height: 40px
            display: flex 
            align-items: center
            justify-content: flex-end
            padding: 0 20px
            @media(max-width: ipad-media)
                display: none

        .paper-content
            flex-grow: 1
        .left
            display: flex 
            flex-direction: column
            align-items: center

            .img-wrap 
                margin-bottom: 20px
                border-radius: 50% 
                height: 60px
                width: 60px
                overflow: hidden
                display: flex 
                align-items: center
                justify-content: center
                @media(max-width: mobile-media)
                    width: 120px
                    height: 120px
                .img
                    width: 110%

        .right 
            padding-left: 60px
            .top-info 
                .form-group 
                    margin-top: 10px
                    margin-bottom: 25px
                    font-weight: bold
                    @media(max-width: mobile-media)
                        margin: 30px 0
                    label 
                        font-weight: bold
                    p 
                        margin-top: 5px
                .form-group-inline 
                    display: flex
                    align-items: center
                    @media(max-width: mobile-media)
                        margin: 30px 0
                    label   
                        margin-right: 10px
                        font-weight: bold
                    input 
                        width: 120px
                        @media(max-width: mobile-media)
                            height: 38px
                    > span
                        align-items: center
                        margin-right: 10px
                        display: flex 
                        @media(max-width: mobile-media)
                            &:nth-of-type(1) input
                                width: 50px
                            &:nth-of-type(2) input
                                width: 70px
                        .selector 
                            width: 130px
                            @media(max-width: mobile-media)
                                width: 80px
                                height: 38px
                            
            h5 
                font-size: 16px 
                padding-bottom: 3px 
                margin-top: 30px 
                color: #666 
                border-bottom: 1px solid #ccc
                margin-bottom: 35px
                font-weight: bold
            form 
                .form-group 
                    display: flex 
                    margin: 20px 0
                    margin-right: 50px
                    align-items: flex-start
                    label 
                        width: 80px
                        text-align: right
                        padding: 0 20px
                        padding-top: 5px
                        font-weight: bold
                    input
                        width: 100%
                .el-row 
                    width: 100%
                    .selector 
                        margin-bottom: 20px

                        