.page#News
    main > .content 
        min-height: 100vh
        background-color #f8f8f8
        padding-top: 60px
        @media(max-width: ipad-media)
            background-color: #fff

    .main-content 
        padding-top: 30px
        @media(max-width: ipad-media)
            padding-top: 20px

    .paper
        padding: 10px
        position: relative
        display: flex 
        flex-direction: column

        @media(max-width: mobile-media)
            padding: 0
        .paper-content
            flex-grow: 1
            .items 
                margin-bottom: 10px
                .item 
                    border-bottom: 1px solid #ddd
                    height: 150px 
                    padding: 5px 0
                    cursor: pointer
                    @media(max-width: mobile-media)
                        height: 90px
                    .item-img
                        width: 248px
                        height: 140px
                        display: inline-block
                        background-size: cover 
                        background-position: center center
                        @media(max-width: mobile-media)
                            width: 142px
                            height: 80px
                    .item-content
                        padding: 10px 20px
                        vertical-align: top
                        display: inline-block
                        width: calc(100% - 248px - 10px)
                        @media(max-width: mobile-media)
                            padding: 10px 15px
                            width: calc(100% - 142px - 10px)
                        > p 
                            color: #666
                            margin-bottom: 10px
                            @media(max-width: mobile-media)
                                font-size: 13px
                                margin-bottom: 0
                        > h5 
                            color: main-color
                            font-weight: bold
                            @media(max-width: mobile-media)
                                font-size: 20px
                            @media(max-width: mini-media)
                                font-size: 16px
                                // line-height: 20px
                            
                        .text 
                            flex-grow: 1
                            display: block; /* Fallback for non-webkit */
                            display: -webkit-box;
                            height: 60px; /* Fallback for non-webkit */
                            font-size: 14px;
                            line-height: 20px;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: #999
                            font-size: 12px
                            @media(max-width: mobile-media)
                                display: none

        .paper-footer 
            text-align: center 
            font-size: 16px 
            letter-spacing: 1px
            font-weight: bold 
            padding: 10px
            background-color: #eee
            margin-left: -10px
            margin-right: -10px
            margin-bottom: -10px
            cursor: pointer
            &:hover 
                background-color: #e3e3e3