// 產品頁
.page#Products 
  main > .content
    background-color: #f8f8f8
    padding-top: 60px

  .category-btn-group
    padding-top: 20px

    .el-button
      border: 1px solid #999
      color: #999
      padding: 8px 25px
      margin: 0
      margin-right: 10px
      margin-bottom: 10px
      background-color: transparent
      &:hover, &:active, &:focus, &.active
        border: 1px solid #999
        background-color: main-color
        color: #fff
    .el-button.is-disabled
      // background-color: #ccc
      // border: 1px solid #ccc
      // color: #fff
      &:hover, &:active, &:focus, &.active
        border: 1px solid #999
        color: #999
        background-color: transparent

  item-img-width = 200px
  .prevClsBtn
    cursor: pointer
  .items
    margin: 0 -30px
    margin-top: 20px
    // margin-left: -5px
    &:after 
      content: ""
      display: table
      clear: both
    .el-card
      width: item-img-width
      float: left
      margin: 10px
      @media(max-width: mobile-media)
        width: calc(50vw + 10px)
        margin: 0
      .el-card__body
        .img-wrap
          width: 100% 
          height: item-img-width
          background-size: cover
          background-image: url(/static/imgs/food03.jpg)
          @media(max-width: mobile-media)
            width: calc(50vw + 10px)
            height: calc(50vw + 10px)
        .card-content
          padding: 10px 14px
          display: flex
          justify-content: space-between
          align-items center
          .card-content-title
            max-width: 130px
          .icon-plus
            cursor: pointer
          p
            margin: 3px 0
          .tag
            color: main-color
            border: 1px solid main-color
            text-align center
            line-height: 16px
            font-size: 12px
            letter-spacing 2px
            display: inline-block
            padding: 0 10px
          .title
            color: main-color
            font-size: 14px
            letter-spacing 3px
            text-overflow: ellipsis
            // width: 100%
            white-space: nowrap
            overflow: hidden
          .dollar
            color: #666
            font-weight: bold
            letter-spacing 1px
            height: 18px
    
