menu-width = 230px
toolbar-color = rgba(#000, 0.3)
main-color = #ff7f50
mobile-media = 767px

@import './page/*'
@import './widgets/*'

*
  box-sizing: border-box
p, h1, h2, h3, h4, h5, h6
  margin: 0

body
  background-color #333
  font-family '微軟正黑體'

.with.top-toolbar main
  min-height 100vh
  >.content
    padding: 40px
    padding-top: 60px
