menu-width = 230px
main-color = #ff7f50
main-blue = #4a90e2
main-pink = #f77081
main-green = #25ae88
brand-color1 = #00C0B9
brand-color2 = #029BBC
mobile-media = 576px
// mobile-media = 767px
ipad-media = 991px


@import './widgets/*'
@import './page/*'
@import './modal/*'

