// button
.el-button
  border: 1px solid #999
  color: #999
  padding: 8px 25px
  margin: 10px 0
  &:hover, &:active, &:focus, &.active
    border: 1px solid #999
    background-color: coral
    color: #fff