// card
.el-card
  .el-card__body
    img
      //
    .card-content
      padding: 10px 14px
      display: flex
      justify-content: space-between
      align-items center
      .icon-plus
        cursor: pointer
      p
        margin: 3px 0
      .tag
        color: coral
        border: 1px solid coral
        text-align center
        line-height: 16px
        font-size: 12px
        letter-spacing 2px
        display: inline-block
        padding: 0 10px
      .title
        color: #666
        font-size: 14px
        letter-spacing 3px
      .dollar
        color: coral
        font-weight: bold
        letter-spacing 1px