label 
    color: #999
input 
    border: 1px solid #ccc 
    height: 35px
.selector 
    border: 1px solid #ccc 
    height: 35px
    padding: 0 10px
    display: flex 
    justify-content: space-between
    align-items: center
    &:after 
        content: ""
        display: inline-block 
        border-top: 8px solid #999 
        border-left: 6px solid transparent
        border-right: 6px solid transparent