// sidebar
.sidebar
  letter-spacing 3px
  ul.list
    margin-top: -20px
  a 
    color: #eee
    text-decoration: none
    display: block
    line-height: 50px
    letter-spacing: 3px
    font-size: 15px
    text-align center
  .divider
    margin 10px 0
  &.sidebar--open, .sidebar--open.sidebar--mobile
    width menu-width
    @media(max-width: mobile-media)
      padding-top: 40px
    .logo 
      width: 140px
      padding: 20px
      margin: 0 auto
      margin-top: 20px
      img 
        max-width: 100%
        @media(max-width: mobile-media)
          display: none
.with.left-fixed-sidebar main
  padding-left menu-width
  @media(max-width: ipad-media)
    padding-left 0