// sidebar
.sidebar
  letter-spacing 3px
  a 
    color: #eee
    text-decoration: none
    display: block
    line-height: 50px
    letter-spacing: 3px
    font-size: 15px
    text-align center
  .divider
    margin 10px 0
  &.sidebar--open, .sidebar--open.sidebar--mobile
    width menu-width
    .icon-logo
      margin: 15px auto 30px auto
.with.left-fixed-sidebar main
  padding-left menu-width
  @media screen and (max-width 991px)
    padding-left 0