// sidebar
.sidebar
  letter-spacing 3px
  a 
    color: #eee
    text-decoration: none
    display: block
    line-height: 50px
    letter-spacing: 3px
    font-size: 15px
    text-align center
  .divider
    margin 10px 0
  &.sidebar--open, .sidebar--open.sidebar--mobile
    width menu-width
    .logo 
      width: 100%
      padding: 20px
      height: 100px
      img 
        max-width: 150px
        @media(max-width: mobile-media)
          display: none
.with.left-fixed-sidebar main
  padding-left menu-width
  @media(max-width: ipad-media)
    padding-left 0