// toolbar (top bar)
.toolbar.trans-dark
  box-shadow none
  height 58px
  .toolbar__logo
    font-size 35px
    padding-top: 13px
    display none
    @media screen and (max-width ipad-media)
      display inline-block